#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  height: 5rem;
  background: #fff;
  border-bottom: 1px solid #ddd;
  font-size: 1.25rem;
  font-weight: 600;
}

#logo {
  text-decoration: none;
  color: #2DC44D;
  font-weight: bold;
}