.detailPageContainer {
  background: #fff;
  margin-top: 20px;

  h1 {
    font-weight: bold;
    padding: 10px 0;
  }

  hr {
    background-color: #d7d7d7;
    height: 1px;
    border: 0;
  }

  ul li {
    padding: 10px 0;
    border-bottom: 1px dashed #d7d7d7;
    font-size: 14px;

    b {
      font-weight: bold;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}